<div class="content">
    <div class=""
    <div id="Number"></div>
    <div id="Answer"></div>
    <div id="BtnWrapper">
        <input type="button" class="btn" value="New number">
    </div>
</div>